.main-color-wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: .75rem;

  /* display: flex;
  gap: .25rem;

  background-color: var(--input-base);
  border: 2px solid transparent;
  outline: 1px solid var(--input-stroke);
  border-radius: .5rem;
  padding: .25rem;

  &:focus-within {
    border-color: var(--brand-light);
  } */
}

.main-color-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;

  background-color: var(--shape-button);
  border: 2px solid transparent;

  border-radius: 999px;

  position: relative;

  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus-within {
    background-color: var(--shape-hover);
  }

  &:has(:checked) {
    border-color: var(--brand-light);
  } 

  & .main-color-option {
    width: 1.75rem;
    height: 1.75rem;

    border-radius: 999px;
  }
}