* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-heading: "Baloo 2", sans-serif;
  --font-body: "Open Sans", sans-serif;

  --heading-md: 700 1.75rem var(--font-heading);
  --heading-sm: 700 1.125rem var(--font-heading);

  --body-md: 400 1rem var(--font-body);
  --body-sm: 400 0.875rem var(--font-body);
  --body-xs: 400 0.75rem var(--font-body);

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;

  --accent-purple: #B259FF;
  --accent-fuschia: #FF59F9;
  --accent-pink: #FF598B;
  --accent-orange: #FF8B59;
  --accent-yellow: #FFCD59;
  --accent-lime: #E1FF59;
  --accent-green: #59FF91;
  --accent-cyan: #59FFF9;
  --accent-navy: #6A59FF;

  --feedback-danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}

body {
  font: var(--body-md);
  color: var(--text-body);
  background-color: #29292E;
}

img {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.gap-16 {
  gap: 1rem;
}

.color-brand-light {
  background-color: var(--brand-light);
}

.color-navy {
  background-color: var(--accent-navy);
}

.color-purple {
  background-color: var(--accent-purple);
}

.color-fuschia {
  background-color: var(--accent-fuschia);
}

.color-pink {
  background-color: var(--accent-pink);
}

.color-red {
  background-color: var(--feedback-danger);
}

.color-orange {
  background-color: var(--accent-orange);
}

.color-yellow {
  background-color: var(--accent-yellow);
}

.color-lime {
  background-color: var(--accent-lime);
}

.color-green {
  background-color: var(--accent-green);
}

.color-cyan {
  background-color: var(--accent-cyan);
}